<body>

    <nav class="navbar">
        <ul>
            <div class="dropdown">
                <div id="menu-bars" class="fas fa-bars" style="margin: 50%;">
                    <div class="dropdown-content">
                        <a href="/category/{{username}}">Home</a>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <form action="/user_expenses/{{uname}}" method="post">

        <h2 style="text-align: center; padding:20px;">Total for the week</h2>
        <div class="user_data">
            <p style="text-align:center ;"> {{output}} </p>
        </div>

        <div id="idexpenses" class="viewExpenses animate">
            <table style="padding: 30px; " border="3">
                <tr>
                    <th>Category</th>
                    <th>Cost</th>
                    <th>Dates</th>
                </tr>
                {{#each expenses}}
                <tr border="3">
                    <td>{{category}}</td>
                    <td>{{cost}}</td>
                    <td>{{sukuna dates}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

    </form>

    <div class="flex">

        <div class="dropdown">
            <button class="dropbtn">Filter your Expenses</button>
            <div class="dropdown-content">
                <a href="/expenses/{{username}}/travel">Travel</a>
                <a href="/expenses/{{username}}/food">Food</a>
                <a href="/expenses/{{username}}/toiletries">Toiletries</a>
                <a href="/expenses/{{username}}/data">Data </a>
                <a href="/expenses/{{username}}">All Expenses </a>
            </div>
        </div>

        <div style="text-align: center;">
            <button onclick="document.getElementById('idexpenses').style.display='block'" style="width:auto;">Show
                Expenses</button>
        </div>

    </div>

    <script>

        var stuff = document.getElementById('idexpenses');

        window.onclick = function (event) {
            if (event.target == stuff) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

{{!--

</html> --}}